@import url(../../main.css);

main {
    width: 100dvw;
    padding: 20px 25px;
    background-color: var(--background);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

form {
    background-color: #eee;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 20px;

    #slogan {
        font-family: sans-serif;
        color: #0d0d0d;
        letter-spacing: 2px;
        cursor: default;
        display: grid;
        align-items: center;
        justify-content: center;

        p {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            gap: 10px;
            cursor: default;
            font-size: .7rem;
            letter-spacing: 0;
            color: #5d5d5d;
            margin-top: 5px;
    
            a {
                text-decoration: underline;
            }
        }
    }

    input {
        height: 20px;
        padding: 10px;
        margin: 0;
        font-size: .9rem;
    }
    
    input.android {
        padding: 10px 0 10px 5px;
    }

    article {
        border-radius: 0;
        font-size: 1rem;
        display: grid;
        align-items: center;
        justify-content: left;
        gap: 5px;
        
        label {
            font-size: .9rem;
            text-align: left;
        }
    }

    a {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: .5px;
        font-weight: bold;
        color: #b9b9b9;
        font-size: .7rem;
    }

    a#recover-password {
        color: #616161;
        text-decoration: underline;
    }

    a:hover {
        opacity: .8;
    }

    .buttons {
        display: grid;
        align-items: center;
        gap: 10px;
        
        button {
            width: 100%;
            height: 30px;
            padding: 0;
            border-radius: 4px;
            background-color: #fff;
            border: none;
            outline: none;
            font-size: 1rem;
            color: var(--color);
            transition: .3s;
            cursor: pointer;
        }
        
        button:hover {
            color: var(--color);
        }
        
        button:disabled {
            cursor: not-allowed !important;
            opacity: .3;
        }

        span {
            font-size: .5rem;
        }

        button#loginGoogle {
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            background-color: transparent;
    
            svg {
                background-color: #fff;
                padding: 10px;
                border-radius: 50%;
                width: 15px;
            }
        }
    }
}
