@import url(../../main.css);

main {
    width: 100dvw;
    height: calc(100dvh - 70px);
    justify-content: center;
}

main, form {
    display: grid;
    align-items: center;
    text-align: center;
    gap: 10px;
}
