@import url(../../main.css);

form {
    display: grid;
    align-items: center;
    gap: 30px;
    text-align: center;

    .buttons {
        display: grid;
        align-items: center;
        gap: 20px;
    }
}
