* {
    padding: 0;
    margin: 0;
    overflow: hidden auto;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

:root {
    --background: #dddddd;
    --svgBGH: #6d6d6d;
    --header: #949494;
    --sloganCL: #dbdbdb;
    --inputBG: #fff;
    --inputCL: #000;
    --scrollCL: #cecece;
    --scrollBG: #eee;
    --txt: #fff;
    --txtI: #df8e5f;
    --shadow: 0 0 10px #47667b34;
}

.container {
    position: relative;
    width: 100dvw;
    min-height: 100dvh;
    background-color: var(--background);
}

*::-webkit-scrollbar {
    background-color: var(--scrollBG);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scrollCL);
}

a {
    cursor: pointer;
}

header {
    position: fixed;
    width: 100dvw;
    height: 50px;
    overflow: hidden;
    z-index: 1000;
    background-color: var(--header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s;

    #slogan {
        font-family: sans-serif;
        font-size: 1.2rem;
        color: var(--background);
        letter-spacing: 2.5px;
        cursor: pointer;
        transition: .3s;
        padding: 0 0 0 20px;
    }

    #slogan:hover {
        opacity: .5;
    }

    menu {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 0 30px 0 0;

        li a svg {
            width: 25px;
            fill: var(--background);
            cursor: pointer;
            padding: 10px;
            transition: .3s;
        }

        li a svg:hover {
            fill: var(--txtI);
        }
    }
}

.androidHeader {
    padding: 30px 15px 0 !important;
}

main {
    margin-top: 70px;
}

input, textarea, select {
    background-color: var(--inputBG);
    color: var(--inputCL);
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 1rem;
}

input::placeholder, textarea::placeholder {
    color: var(--inputCL);
}

textarea {
    min-height: 120px;
    max-height: 120px;
}

select {
    cursor: pointer;
}

dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: transparent;
    color: var(--txtI);
    font-family: sans-serif;
    border: none;
    z-index: 1000;

    article {
        width: inherit;
        height: inherit;
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .box {
        width: 80dvw;
        max-width: 300px;
        height: 300px;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: var(--background);
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px #0002, 0 0 20px #0002, 0 0 50px #0002;
        text-align: center;
        cursor: default;

        .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
        }

        button {
            border: none;
            outline: none;
            padding: 10px;
            width: 100%;
            height: 40px;
            font-size: 1rem;
            border-radius: 5px;
            box-shadow: 0 0 1px #0002;
            cursor: pointer;
            color: var(--color);
        }
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: #0002;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader {
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
}
  
.loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
}
  
.loader:after {
    animation-delay: 1s;
}
  
@keyframes push_401 {
    0% , 50% {
      transform: translate(-50% , 0%)  scale(1)
    }
  
    100% {
      transform: translate(-50%, -100%) scale(0)
    }
}

.hidden {
    display: none !important;
}

.rotate {
    transform: rotateZ(180deg);
}
