@import url(../../main.css);

main {
    position: relative;
    width: 100dvw;
    min-height: calc(100dvh - 70px);
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden auto;

    .glass {
        width: inherit;
        height: 100%;
        min-height: inherit;
        position: absolute;
        top: 0;
        backdrop-filter: blur(10px);
    }

    background: var(--url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .box {
        width: 80dvw;
        display: grid;
    }

    .card {
        background-color: rgba(0, 0, 0, 0.139);
        backdrop-filter: blur(100px);
        color: #fff;
    }
}