@import url(../../main.css);

#box {
    form {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 25px;

        textarea {
            width: 80dvw;
            max-width: 500px;
            padding: 10px;
            min-height: calc(100dvh - 490px);
        }
    }

    #images-box {
        position: relative;
        width: inherit;
        max-width: inherit;
        height: inherit;
        max-height: inherit;
        display: block;
        justify-content: center;
        align-items: center;

        .currentPage {
            position: sticky;
            top: 0;
            background-color: var(--background);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100dvw;
            height: 70px;
            color: var(--inputCL);
            gap: 20px;
            z-index: 2;
            
            div {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }
        }
        
        .controls {
            top: 70px;
            background-color: var(--background);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            height: 70px;
        }

        #search {
            width: 65dvw;
            max-width: 400px;
        }

        #images-center {
            width: 100dvw;
            min-height: calc(100dvh - 70px - 240px);
            display: grid;
            align-items: center;
            justify-content: center;
            padding-bottom: 200px;
        }

        #images {
            width: 70dvw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;

            img {
                flex-grow: 1;
                max-width: 300px;
            }
        }
    }
}


img {
    cursor: pointer;
}

img.focus {
    border: .7px solid var(--inputCL);
    filter: brightness(40%);
    z-index: 1;
}