@import url(../../main.css);

#box {
    form {
        display: grid;
        align-items: center;
        justify-content: center;

        textarea {
            width: 80dvw;
            max-width: 500px;
            min-height: calc(100dvh - 490px);
        }
    }

}

#images-box {
    position: relative;
    width: inherit;
    max-width: inherit;
    height: inherit;
    max-height: inherit;
    display: block;
    justify-content: center;
    align-items: center;

    .currentPage {
        position: sticky;
        top: 0;
        background-color: var(--background);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100dvw;
        height: 70px;
        color: var(--inputCL);
        gap: 20px;
        z-index: 2;
        
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }
    }

    .search-container {
        height: 60px;
        width: 100dvw;
        background: #0001;
        backdrop-filter: blur(10px);
        top: 70px;
        left: 0;
        z-index: 999;
    }

    #search {
        width: 40dvw;
        max-width: 700px;
    }

    .filters {
        margin-top: 60px !important;
    }

    #images-center {
        width: 100dvw;
        min-height: calc(100dvh - 70px - 240px);
        display: grid;
        align-items: center;
        justify-content: center;
        padding-bottom: 200px;
    }

    #images {
        width: 70dvw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        img {
            flex-grow: 1;
            max-width: 300px;
        }
    }
}


img {
    cursor: pointer;
}

img.focus {
    border-radius: 10px;
    filter: brightness(90%);
    z-index: 1;
}