@import url(../../main.css);

main {
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding-bottom: 100px;

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px 20px;
        padding: 50px;
        
        .card {
            box-shadow: 0 0 10px #0004;
            overflow: hidden;
            border-radius: 0 0 10px 10px;
            cursor: pointer;    
            background-color: var(--txt); 
            text-align: center;

            .img {
                width: 100%;
                height: 300px;
                width: 300px;
                background: var(--url);
                background-size: cover;
                background-position: center;
                transition: 1s;
            }
            
            h1 {
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;  
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: var(--txtI);
            }
            h1:hover {
                text-decoration: underline;
            }
            p {
                color: #ffffff;
            }
        }

        .card:hover {
            box-shadow: 0 0 10px #25252570, 0 0 50px #25252542;
        }
    }
}

@media (max-width: 1100px) {
    main {
        .box {
            padding: 50px 150px;
        }
    }
}

@media (max-width: 960px) {
    main {
        .box {
            padding: 20px;
        }
    }
}

@media (max-width: 500px) {

    main {
        .box {
            .card {
                .img {
                    width: 70dvw;
                }
                h1 {
                    width: 70dvw;
                }
            }
        }       
    }

}